<h1>Merchant Dashboard</h1>

<section id="merchant-info">
  <h2>Merchant Details</h2>
  <p>
    Name: <%= @merchant.name %><br/>
    Address: <%= @merchant.address %>, <%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %>
  </p>
</section>
