<h1>Merchant Dashboard</h1>

<section id="merchant-info">
  <h2>Merchant Details</h2>
  <p>
    Name: <%= @merchant.name %><br/>
    Address: <%= @merchant.address %>, <%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %><br>
    <%= link_to "View My Items", "/merchant/items" %>
  </p>
</section><br><br>

<section class="orders">
  <h2>Pending Orders:</h2>
  <% @merchant.pending_orders.each do |order| %>
    <p>Order ID: <%= link_to "#{order.id}", "/merchant/orders/#{order.id}" %></p>
    <p>Date Created: <%= order.created_at %></p>
    <p>Number of items in this order: <%= order.total_items(@merchant) %></p>
    <p>Total Value: <%= number_to_currency(order.total_sum(@merchant)) %></p><br>
  <% end %>
</section>
