<h1>Dashboard</h1>

<section class="packaged">
  <h3>Packaged Orders</h3>
  <% @orders.packaged.each do |order| %>
    <p>Order ID: <%= order.id %></p>
    <p>Placed By: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></p>
    <p>Date Created: <%= order.created_at %></p>
    <p><%= button_to 'Ship', "admin/orders/#{order.id}?status=2", method: :patch %></p><br>
  <% end %>
</section>

<section class="pending">
  <h3>Pending Orders</h3>
  <% @orders.pending.each do |order| %>
    <p>Order ID: <%= order.id %></p>
    <p>Placed By: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></p>
    <p>Date Created: <%= order.created_at %></p><br>
  <% end %>
</section>

<section class="shipped">
  <h3>Shipped Orders</h3>
  <% @orders.shipped.each do |order| %>
    <span>Order ID: <%= order.id %></span>
    <span>Placed By: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></span>
    <span>Date Created: <%= order.created_at %></span><br>
  <% end %>
</section>

<section class="cancelled">
  <h3>Cancelled Orders</h3>
  <% @orders.cancelled.each do |order| %>
    <p>Order ID: <%= order.id %></p>
    <p>Placed By: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></p>
    <p>Date Created: <%= order.created_at %></p><br>
  <% end %>
</section>
