<h1><%= current_user.name %></h1>
<h4><%= current_user.address %></h4>
<h4><%= current_user.city %>, <%= current_user.state %></h4>
<h4><%= current_user.zip %></h4>
<h4><%= current_user.email %></h4>

<%= link_to 'Edit Profile', "/users/edit" %>
<%= link_to 'Change Password', "/passwords/edit" %>
<%= link_to 'My Orders', "/profile/orders" if !current_user.orders.empty?%>
