<h1>Order Details for Order #<%= @order.id %></h1>

<section>
  <h2>Customer Name: <%= @order.name %></h2>
  <p>Address: <%= @order.address %>, <%= @order.city %>, <%= @order.state %>, <%= @order.zip %></p>
</section>
